@model City
@{
    ViewData["Title"] = "Edit City";
}
<div class="container shadow p-5">
    <div class="row">
        <h2>Edit City</h2>
    </div>

    <form method="post" asp-action="Edit">
        <div class="form-row">
             <div class="form-floating mb-3">
                <input type="text" class="form-control" asp-for="Id" placeholder="Enter City ID" readonly="readonly" />
                <label asp-for="Id">City Id</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" asp-for="CityName" placeholder="Enter City name" />
                <label asp-for="CityName">City Name</label>
                <span asp-validation-for="CityName" class="alert-danger"></span>
            </div>           
        </div>
        <button type="submit" class="btn btn-success">Update</button>
        <a asp-controller="City" asp-action="Index" class="btn btn-primary">Back</a>
    </form>
</div>
